<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourceFolder" value="C:\Users\flori\Desktop\Source"/>
    <add key="DestinationFolder" value="C:\Users\flori\Desktop\Destination"/>
    <add key="ExcludedFolders" value="@Recycle"/>
    <add key="AcceptedFiles" value="jpg;mp4"/>
    <add key="ShouldDeleteFolders" value="True"/>
  </appSettings>
</configuration>