<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SourceFolder" value="\\NAS22E0B3\Multimedia\Camera Uploads"/>
    <add key="DestinationFolder" value="\\NAS22E0B3\Multimedia\Photos"/>
    <add key="ExcludedFolders" value="@Recycle;"/>
    <add key="AcceptedFiles" value="jpg;mp4"/>
    <add key="ShouldDeleteFolders" value="False"/>
  </appSettings>
</configuration>